<h1>Radio Lab Scraper!</h1>
<ul>
  {{#each articles}}
    {{#unless saved}}
      {{> articles/articles saved=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Saved Articles!</h2>

<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>


<form class="create-form">
  <div class="form-group">
    <label for="save">Save Article?</label><br>
  </div>

  <button type="submit" href = "/saved-articles">Check out saved articles</button>
</form>
